/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1f1f1f;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EB004B;
    /* Tom rosa vivo */
}

.nav-main {
    background-color: #2e2e2e ;
    height: 68px;
    padding: 6px 40px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-main ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.destaque {
    background-color: #1f1f1f ;
    padding: 14px 24px;
    border-radius: 8px;
    color: #EB004B;
    font-weight: 700;
}
.nav-main li a:hover {
    color: #EB004B;
}

.header-actions .btn-icon {
    font-size: 1.2rem;
    margin-left: 15px;
}
