body{
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit;
}
.movie-hero{
    margin-top: 30px;
}
.movie-hero-film{
    width: 100%;
    height: 86vh;
    overflow: hidden; 
    display: flex;    
    align-items: center; 
    justify-content: center; 
    position: absolute;
}


.movie-hero__image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(75%);
}

.movie-hero__details{
    position: relative;
    width: 90%;
    max-width: 500px;
    padding: 1.5rem;
    z-index: 2;
    left: 360px;
    top: 50px;
}
.movie-hero__title{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 3px;
}
.movie-hero__synopsis{
    width: 400px;
    font-size: small;
}
.movie-hero__info-group{
    font-size: small;
    display: flex;
    gap: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.movie-hero__watch-button{
    font-weight: bolder;
    color: white;
    background-color: #EB004B;
    border: none;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.movie-hero__addlist-button,
.movie-hero__like-button{
    color: white;
    font-weight: bolder;
    margin-left: 5px;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: large;
    background-color:
     #1C1C1C;
    border: 1px solid #303030 ;
    cursor: pointer;
}
.movie-hero__container-nav-buttons{
    display: flex;
    transform: translateY(-50%);
    gap: 1220px;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    position: absolute;
    z-index: 2;
}
.movie-hero__buttons{
    font-weight: bolder;
    font-size: large;
    color: white;
    background-color: #EB004B;
    border: none;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.movie-hero-film:nth-child(1){
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.5s;
}
.movie-hero-film:nth-child(2),
.movie-hero-film:nth-child(3){
    opacity: 0;
    pointer-events: none;
}
/*this is the movie that is currently appearing*/
.movie-hero.next .films-list .movie-hero-film:nth-child(1) {
    animation: showFilm 0.5s ease-in-out 1 forwards;
}

/*this is the movie that is about to appear*/
.movie-hero.next .films-list .movie-hero-film:nth-child(2){
    animation: nextFilm 0.5s ease-in-out 1 forwards;
}
/*quando o botão é apertado, este é o filme anterior*/
.movie-hero.next .films-list .movie-hero-film:nth-child(3){
    animation: disappearFilm 0.5s ease-in-out 1 forwards;
}
@keyframes showFilm{
    from{
        width: 80%;
        filter: blur(30px);
        transform: translate(100%, -25%);
    }to{
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes nextFilm{
    from{
        opacity: 0;
    }to{
        opacity: 0;
        width: 200px;
        transform: translateX(-100px);
        filter: blur(30px);
    }
}

@keyframes disappearFilm{
    from{
        opacity: 1;
        filter: blur(0);
    }
    to {
        width: 200px;
        transform: translateX(-100px);
        filter: blur(30px);
        opacity: 0;
    }
}

.movie-hero.prev .films-list .movie-hero-film:nth-child(1){
    animation: showprevFilm 0.5s ease-in-out 1 forwards;
}
.movie-hero.prev .films-list .movie-hero-film:nth-child(3){
    opacity: 0;
}
.movie-hero.prev .films-list .movie-hero-film:nth-child(2){
    animation: disappearprevFilm 0.5s ease-in-out 1 forwards;
}
@keyframes showprevFilm{
    from{
        width: 200px;
        transform: translateX(-100px);
        filter: blur(30px);
        opacity: 0;
    }to{
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes disappearprevFilm{
    from{
        opacity: 1;
    }to{
        width: 80%;
        filter: blur(30px);
        transform: translate(100%, -25%) scale(1.2);
        opacity: 0;
        
    }
}